{% extends'base.html.twig' %}
{% block contenu %}
    <div class="div-social-top">

        <i class="fa fa-globe "></i>Trouver un covoiturage et des personnes avec qui partager un voyage




    </div>
    <!--./ Social Div End -->
    <div class="general-subhead">
        <h1>Nos services</h1>
    </div>
    <!--./ Gereral Subhead End -->
    <section  >
        <div class="container">
            <div class="row ">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2"  >
                    <h2><strong>Covoiturage Tunisie: </strong> </h2>
                    <p>
                        Il existe aujourd’hui de multiples solutions pour covoiturer en Tunisie. Elles fonctionnent pour la plupart sur inscription,
                        sont parfois payantes ou gratuites.
                        Certaines régions et collectivités ont notamment développé leurs propres sites de covoiturage en france.
                        En raison des préoccupations environnementales grandissantes et du prix actuel de l’essence, le covoiturage
                        a encore de beaux jours devant lui. Attention toutefois à rester sur vos gardes lorsque vous prenez la route avec des inconnus.
                        Même si la majorité des sites a mis en
                        place des outils pour contrôler ses membres, il y aura toujours des personnes peu sérieuses
                        ou mal intentionnées qui passeront à travers les mailles du filet.

                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--./ text section End -->
    <section >
        <div class="container">
            <div class="row ">
                <div class="col-lg-3 col-md-3  col-sm-3 "  >
                    <i  class="fa fa-desktop fa-5x  rotate-icon clr-main"></i>
                    <h3><strong>Publiez votre annonce :</strong> </h3>
                    <p>
                        Les conducteurs peuvent publier gratuitement leurs annonces et les passagers qui cherchent
                        un trajet peuvent se mettre en contact directement avec le conducteur via une messagerie interne, téléphone ou Email.
                        Mais surtout on adopte un comportement écologique !
                        Notez que vous pourrez gérer vos réservations de covoiturage.
                    </p>
                </div>
                <div class="col-lg-3 col-md-3  col-sm-3" >
                    <i class="fa fa-paper-plane-o  fa-5x rotate-icon clr-main"></i>
                    <h3><strong>Voyagez :</strong> </h3>
                    <p>
                        Rendez-vous au lieu de départ convenu, bien à l'heure !
                        Après le voyage, laissez un avis à votre conducteur, afin d'en recevoir un en retour, et d'augmenter votre crédit confiance.


                    </p>
                </div>
                <div class="col-lg-6 col-md-6  col-sm-6" >
                    <iframe class="vedio-style" src="{{ asset('template/assets/img/333.png') }}" ></iframe>
                </div>

            </div>

        </div>
    </section>
    <!--./ main our-services end -->


    <!--./ Request Quote End -->


    <div id="footer-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4" id="about-ftr">
                    <i class="fa fa-building fa-2x"></i>
                    <span>Les fonctionnalités offertes par Karhbetna.tn sont :</span>
                    <p>
                        -S’inscrire ou se connecte. </br>
                        -Modifier le profil.</br>
                        -Lister et effectuer une recherche de covoiturage.</br>
                        -Sauvegarder une offre de covoiturage.</br>
                        -Publier / modifier / supprimer une offre de covoiturage.</br>
                        -Publier / modifier / supprimer une demande de covoiturage.</br>
                        -Ajouter / consulter / supprimer une réservation.</br>
                        -Réclamer sur un couvoiturage.</br>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <i class="fa fa-paper-plane-o fa-2x"></i>
                    <span>Lisez Aussi Sur Karhbetna.tn : </span>

                    <div id="blog-footer-div">
                        <p>L’inscription est facile.
                            La liste des préférences à remplir est exhaustive à souhait allant de vos goûts musicaux
                            à votre dépendance au tabac ou votre amour pour les animaux.
                            Le tout dans le but d’éviter de vous faire voyager
                            avec un fumeur propriétaire d’un Labrador si vous êtes non-fumeur et allergique aux poils de chien. Si aucune offre n’est
                            disponible pour le trajet que vous souhaitez réaliser,
                            vous pouvez créer une alerte qui vous tiendra informé des nouvelles possibilités de covoiturage.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <i class="fa fa-sliders fa-2x"></i>
                    <span>L'équipe :</span></br>
                    -Rédacteur en chef : BEN HENDA Houyem.
                    <br />
                    -Collaborateurs: BEN AMMAR Leila.
                    <br />
                    -Nous contacter: houyem.benhenda@gmail.com </br>
                    ou bien : leila.benn.ammar@gmail.com
                    <br />
                    <br />
                    <i class="fa fa-sliders fa-2x"></i>
                    <span>Nous suivre :</span></br>
                    <a href="#"><i class="fa fa-facebook-square fa-3x color-facebook"></i></a>
                    <form role="form">
                        <div class="input-group">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--./ footer-sec  End -->
    <div id="footser-end">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-md-12">


                </div>
            </div>

        </div>
    </div>
    <!--./ footer-sec  End -->
    <div id="footser-end">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-md-12">


                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('template/assets/js/jquery-1.10.2.js') }}"></script>
    <!--  Core Bootstrap Script -->
    <script src="{{ asset('template/assets/js/bootstrap.js') }}"></script>
    <!--  Custom Scripts -->
    <script src="{{ asset('template/assets/js/custom.js') }}"></script>
{% endblock %}